{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<style>
  body{
    height: 850px;
  }
    .appsize { width: 800px }
    img{ margin-left: 0px; margin-top: 0%;}

    <style type="text/css">
  .nav-sidebar{
    background-color: ;
    overflow-y: auto;
  }
  .nav-sidebar
  margin-bottom: 20px;
  margin-left: -20px;
  width: 25%;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
 /* margin-left: 20px;*/
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

</style>


{% endblock %}


{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Visulisation Tool</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Login/SignUp</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="index.html">FFT<span class="sr-only">(current)</span></a></li>
            <li><a href="/1D" style="margin-left: 20px;">One dimensional</a></li>
            <li><a href="/2D" style="margin-left: 20px;">Two dimensional</a></li>
            <li><a href="/ND" style="margin-left: 20px;">N dimensional</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Damping</a></li>
            <li><a href="/Damping" style="margin-left: 20px;">Compute Damping</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">User Formula</a></li>
            <li><a href="/formula" style="margin-left: 25px;">Plot</a></li>
          </ul>
          
        </div>

        <div class = "col-sm-9 col-md-9">

          <form class="navbar-form navbar-top" method="post" action="">
  <div class="form-group">
  {% for field in form %}
    <div class="row">
     <div class="input-group appsize">
      <label class="col-sm-2 control-label">
      <span class="input-group-addon"> {{ field.name }}  </span>
      </label>
      <div class="col-sm-4">
      {{ field(class_="form-control") }}
      </div>
      <div class="col-sm-4">
        {{ field.label }}
      </div>
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="col-sm-3">
            <div style="color: red;">{{ error }}</div>
          </div>
        {% endfor %}
      {% endif %}
     </div>
    </div>
  {% endfor %}
<br/>
<input type="submit" value="Compute" class="btn btn-default">
</form>
        </div>

        {% if result != None %}
<img src="{{ result }}" width="600">
{% endif %}




     </div>
  </div>
</html>
{% endblock %}
