<!DOCTYPE html>
<html>
<head>
	<title>Convert to uppercase</title>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body>
<h2 align = "center">Enter the text you wish to convert to uppercase!</h2>
	<form action="." method = "POST">
		<input type = "text" name = "text" class = "tectbox">
		<input type="submit" name = "my-form" value = "Send">
	</form>
</body>
<script type="text/javascript">
	var value = $('.textbox').val()
$.ajax({
      type: "POST",
      url: "http://localhost:8080/convert",
      data: JSON.stringify(value),
   });
</script>
</html>