 <html>
    <head>
        <title>User input for flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>User input for Flask</h1>
            </div>
            <div id="content">
                You have entered name:  {{name}}<br/>
                You have entered number: {{number}}<br/>
                You have entered min-price: {{minn}}<br/>
                You have entered max-price: {{maxx}}<br/>
            </div>
        
       
            </div>
        </div>
    </body>
</html>
