<html>
    <head>
        <title>User input handling</title>

    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Upload a file:</h1>
                <h1>Contents are read without actually saving it in the flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('readfile') }}" enctype="multipart/form-data">
                  <input type="file" name="file"><br /><br />
                  <input type="submit" value="Upload">
                </form>
            </div>
         
            </div>
        </div>
    </body>
</html>